:root {
  --container-size: 100%;
  --header-height: 3rem;
  --container-max-width: 1200px;

  @screen sm {
    --container-size: theme('screens.sm');
  }

  @screen md {
    --container-size: theme('screens.md');
    --header-height: 4.5rem;
  }

  @screen lg {
    --container-size: theme('screens.lg');
  }

  @screen xl {
    --container-size: theme('screens.xl');
  }

  @screen 2xl {
    --container-size: theme('screens.2xl');
  }
}

* {
  cursor: url("/cursor-48x48.cur"), auto !important;
}


html {
  @apply overflow-x-hidden overflow-y-auto scroll-smooth;
}

body {
  @apply bg-white text-primary-dark;
  @apply dotgothic16-regular;
  /* @apply zen-maru-gothic-regular; */

  /* font-family: 'Noto Sans TC'; */
  p, span, div {
    @apply tracking-wide leading-relaxed;
  }
}

.f-container {
  @apply mx-auto px-5 md:px-20 xl:px-0;

  max-width: var(--container-max-width);
}